<body>
	<a href="/">Home</a>
	<a href="/about/">About</a>

	<h1>About Me</h1>
	<h2>... and my new Astro site!</h2>
	<h1 class="text-4xl">This is a little ol' blog</h1>
	<h2 class="test-3xl">This is a lil ol' tagline</h2>
	<p>Reward me for it, don't punish me for it.</p>
</body>
